<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Thread</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="new-thread">
      <h1>New thread</h1>
      <form action="http://localhost:3000/thread" method="post">
        <input type="text" name="username" placeholder="enter your username" />
        <br /><br />
        <textarea
          name="content"
          class="content"
          placeholder="enter your thread"
          cols="40"
          rows="15"
        ></textarea>
        <button class="btn">Submit</button>
      </form>
    </div>
  </body>
</html>
